<!-- <h1>Products</h1>

<p *ngIf="loading()">Loading...</p>
<p *ngIf="error()">{{ error() }}</p>

<div class="grid" *ngIf="!loading() && !error()">
  <div class="card" *ngFor="let product of products()">
    <p class="category">{{ product.category }}</p>
    <h3>{{ product.title }}</h3>
    <p>{{ product.description }}</p>

  </div>
</div> -->

<!-- <app-job-board></app-job-board> -->

<!-- <app-star-war-search></app-star-war-search> -->
<!-- <app-user-registration></app-user-registration> -->
<app-flight-booker></app-flight-booker>